<div class="accordion mb-3">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#formularioIncoterms" aria-expanded="true">
                Incoterms
            </button>
        </h2>
        <div id="formularioIncoterms" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus ipsam vel asperiores dignissimos
                    officiis laborum praesentium nulla, cum accusamus, fugit dolores provident rerum culpa, aliquid
                    necessitatibus eos dolor magnam eius!
                </p>
            </div>
        </div>
    </div>
</div>