<div class="accordion mb-3">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#formularioReceptor" aria-expanded="true">
                Informacion Receptor
            </button>
        </h2>
        <div id="formularioReceptor" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt autem unde porro velit laborum
                    perferendis dicta id atque? Inventore numquam ut cum neque sint tempora vel hic est non illum?
                </p>
            </div>
        </div>
    </div>
</div>